.screen-outer {
  z-index: 9000;
  background-color: #F4F4F4;
  .screen-wrap {
    width: 1190px;
    margin: 0 auto;
    .main {
      background-color: #FFF;
      .services {
        float: left;
        position: relative;
        border: solid 1px $color-primary;
        color: #666;
        font: {
          size: 14px;
          weight: 400;
        }
        width: 190px;
        .multi-line-menu {
          .line-menu {
            transition: all 200ms ease-in;
            position: relative;
            height: 32px;
            line-height: 32px;
            padding: {
              left: 25px;
              right: 19px;
            }
            width: 188px;
            margin: 0 auto;
            li {
              display: inline-block;
              height: 32px;
              line-height: 32px;
              a {
                display: inline-block;
                vertical-align: middle;
              }
            }
            .pipe {
              margin: 0 4px;
            }
            svg {
              color: $navigation-bar-icon-color;
              position: absolute;
              top: 50%;
              margin-top: -6px;
              right: 14px;
            }
            &:hover {
              background-color: #FFE4DC;
              color: #FF5000;
            }
          }
        }
        .service-float {
          opacity: 0;
          transition: all 300ms ease-in-out;
          position: absolute;
          left: 189px;
          top: -1px;
          width: 714px;
          height: 515px;
          border: {
            style: solid;
            width: 2px;
            color: $color-primary;
          }
          &.show {
            z-index: 8000;
            opacity: 1;
          }
        }
      }
      .two-carousel {
        position: relative;
        @keyframes move {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-520px);
          }
        }

        @keyframes movebackward {
          0% {
            transform: translateX(-520px);
          }
          100% {
            transform: translateX(0);
          }
        }

        float: left;
        width: 520px;
        height: 504px;
        background-color: #EEE;
        margin: {
          left: 10px;
          top: 10px;
        }
        .carousel-one {
          width: 520px;
          height: 275px;
          background-color: purple;
          position: relative;
          overflow: hidden;
          .carousel-one-wrapper {
            display: flex;
            img {
              display: inline-block;
            }
            &.moveleft {
              animation-name: move;
              animation-duration: 300ms;
              animation-fill-mode: forwards;
              animation-timing-function: ease-out;
            }
            &.moveright {
              animation-name: movebackward;
              animation-duration: 300ms;
              animation-fill-mode: forwards;
              animation-timing-function: ease-out;
            }
            &.prepareMoveright {
              transform: translateX(-520);
            }

          }
          button {
            background-color: rgba(0,0,0, 0.3);
            cursor: pointer;
            border: none;
            width: 20px;
            height: 30px;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            color: #FFF;
            &.left-btn {
              left: 0;
              border: {
                top: {
                  right: {
                    radius: 15px;
                  }
                }
                bottom: {
                  right: {
                    radius: 15px;
                  }
                }
              }
              svg {
                left: 5%;
              }
            }
            &.right-btn {
              right: 0;
              border: {
                top: {
                  left: {
                    radius: 15px;
                  }
                }
                bottom: {
                  left: {
                    radius: 15px;
                  }
                }
              }
              svg {
                right: 5%;
              }
            }
            svg {
              position: absolute;
              top: 50%;
              margin-top: -13.33px;
            }
          }
          .scoreboard {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70px;
            height: 13px;
            position: absolute;
            left: 50%;
            margin-left: -35px;
            bottom: 5%;
            border-radius: 6px;
            background-color: rgba(white, 0.3);
            li {
              width: 8px;
              height: 8px;
              background-color: #FFF;
              border-radius: 50%;
              &.active {
                background-color: $color-primary;
              }
            }
          }
        }
        .carousel-two {
          position: relative;
          width: 520px;
          height: 229px;
          .head {
            width: 520px;
            height: 32px;
            font: {
              size: 14px;
            }
            padding: {
              top: 11px;
            }
            border: {
              bottom: {
                style: solid;
                width: 3px;
                color: #FF1648;
              }
            }
            background-color: #F1F1F1;
            .inner {
              position: relative;
              height: 18px;
              line-height: 18px;
              img {
                background-color: #FFF;
              }
              em {
                font: {
                  size: 12px;
                  style: normal;
                }
                color: #666;
              }
              strong {
                height: 18px;
                line-height: 18px;
                position: absolute;
                right: 0;
                font: {
                  family: sans-serif;
                  size: 12px;
                  weight: 400;
                }
                .red {
                  height: 18px;
                  line-height: 18px;
                  color: #FF1648;
                  font: {
                    style: normal;
                    size: 12px;
                    weight: 400;
                  }
                }
              }
            }
          }
          .carousel-two-wrapper {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            top: 1px;
            .img-container {
              flex-shrink: 0;
              background-color: #FFF;
              width: 520px;
              height: 196px;
              display: flex;
              flex-wrap: wrap;
              &.img-container-1 {
                .block {
                  border: solid 0.5px transparent;
                  display: block;
                  width: 25%;
                  height: 33.33333%;
                  padding: 15px 30px;
                  img {
                    max-width: 100%;
                  }
                  &.group-2 {
                    border: {
                      left: {
                        color: #EBEBEB;
                      }
                      right: {
                        color: #EBEBEB;
                      }
                    }
                  }
                  &.group-3 {
                    border: {
                      top: {
                        color: #EBEBEB;
                      }
                      bottom: {
                        color: #EBEBEB;
                      }
                    }
                  }
                  &.group-4 {
                    border-color: #EBEBEB;
                  }
                  &.group-5 {
                    border: {
                      right: {
                        color: #EBEBEB;
                      }
                      bottom: {
                        color: #EBEBEB;
                      }
                    }
                  }
                  &.group-6 {
                    border: {
                      right: {
                        color: #EBEBEB;
                      }
                    }
                  }
                }
              }
              &.img-container-2 {
                justify-content: space-around;
                align-items: center;
                .block {
                  width: 248px;
                  img {
                    width: 248px;
                  }
                }
              }
            }
          }
          .footer {
            width: 100%;
            position: absolute;
            left: 0;
            top: 30px;
            height: 3px;
            .carousel-nav {
              display: flex;
              width: 100%;
              height: 3px;
              position: absolute;
              li {
                flex-grow: 1;
                display: inline-block;
                height: 3px;
                background-color: #FF1648;
              }
            }
          }
        }
      }
    }
  }
}
