// PSEUDO CLASSES
%dropdown {
  display: none;
  z-index: 10001;
  position: absolute;
  top: 34px;
  left: 0;
  border: {
    style: solid;
    width: 1px;
    color: #EEE;
  }
  background-color: #FFF;
  &.dropdown {
    display: block;
  }
}

nav {
  background-color: $navigation-bar-background-color;
  border: {
    style: solid;
    width: 1px;
    color: #EEE;
  }
  .site-nav-container {
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    flex: {
      direction: row;
      wrap: nowrap;
    }
    justify-content: space-between;
    align-items: stretch;
    .site-nav-container-btn-group {
      height: inherit;
      color: $navigation-bar-font-color;
      .site-nav-container-btn {
        display: inline-block;
        position: relative;
        .site-nav-btn-hd {
          z-index: 10002;
          position: relative;
          padding: 0 6px;
          height: 35px;
          line-height: 35px;
          svg {
            width: 12px !important;
            color: $navigation-bar-icon-color;
          }
          .site-nav-icon-highlight {
            color: $navigation-bar-highlight-color;
          }
        }
        .site-nav-btn-dropdown {
          padding: 0 5px;
          border-width: 0 1px;
          border-style: solid;
          border-color: #EEE;
          background-color: #FFF;
        }
        .site-nav-btn-hightlight:hover {
          color: $navigation-bar-highlight-color;
        }
        .site-nav-region-list {
          @extend %dropdown;
          padding: 8px 0;
          width: 250px;
          height: 270px;
          overflow: auto;
          .site-nav-region-list-item {
            color: $body-color;
            display: list-item;
            padding-left: 8px;
            height: 29px;
            line-height: 29px;
            cursor: pointer;
          }
        }
        .site-nav-user {
          @extend %dropdown;
          width: 266px;
          height: 123px;
          padding: 8px;
          .site-nav-user-panel {
            .site-nav-user-wrapper {
              float: left;
              margin: {
                right: 10px;
                left: 9px;
              }
              width: 62px;
              height: 62px;
              padding: 9px;
              box-sizing: content-box;
              .site-nav-user-avatar {
                display: block;
                overflow: hidden;
                border: {
                  style: solid;
                  width: 3px;
                  color: #FFF;
                }
                border-radius: 50%;
                img {
                  display: block;
                  width: 56px;
                  height: 56px;
                }
              }
            }
            .site-nav-user-info {
              height: 80px;
              overflow: hidden;
              .site-nav-user-operate {
                text-align: right;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
                a {
                  color: $body-color;
                }
              }
              .level-info {
                color: $body-color;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
              }
            }
            .site-nav-user-privilege {
              color: $body-color;
              display: block;
              text-align: center;
              border: {
                style: solid;
                width: 1px;
                color: #FFE8DE;
              };
              background-color: #FFF0E8;
              padding: 4px 0;
              }
            }
          }
          .site-nav-message-panel {
            @extend %dropdown;
            width: 288px;
            box-shadow: 1px 1px 2px #ddd;
            .site-nav-message-panel-header {
              height: 37px;
              line-height: 37px;
              position: relative;
              text-align: center;
              border: {
                bottom: 1px solid #EEE;
              }
              h2 {
                font-size: 14px;
                color: #222;
              }
            }
            .site-nav-message-panel-body {
              text-align: left;
              .site-nav-message-panel-body-error {
                padding: 0 35px;
                .message-panel-body-error-notice {
                  text-align: center;
                  font-size: 14px;
                  margin: {
                    top: 30px;
                    right: 0;
                    bottom: 10px;
                    left: 0;
                  }
                  svg {
                    color: $navigation-bar-icon-color;
                  }
                }
              }
            }
            .site-nav-message-panel-footer {
              height: 32px;
              position: relative;
              border: {
                top: 1px solid #EEE;
              }
              a {
                color: $body-color;
                svg {
                  color: $navigation-bar-icon-color;
                }
                &:hover {
                  color: $navigation-bar-highlight-color;
                  svg, span {
                    color: $navigation-bar-highlight-color;
                  }
                }
              }
              .setting {
                position: absolute;
                left: 17px;
                top: 10px;
                width: 12px;
                height: 12px;
              }
              .feedback {
                position: absolute;
                left: 37px;
                top: 10px;
                width: 12px;
                height: 12px;
              }
              .check-all {
                line-height: 100%;
                position: absolute;
                top: 9px;
                right: 17px;
                text-align: left;
              }
            }
          }
        }
      @at-root .site-nav-pipe {
        color: $navigation-bar-pipe-color !important;
        padding:0 5px !important;
      }
      .site-nav-container-btn-region {
        span {
          color: $body-color;
          margin-right: 7px;
        }
      }
      .site-nav-container-btn-message {
        span {
          color: $body-color;
        }
      }
    }
  }
}
