$body-color: #3C3C3C;

$color-primary: #F40;

$navigation-bar-background-color: #F5F5F5;
$navigation-bar-font-color: #6C6C6C;
$navigation-bar-icon-color: #9c9c9c;
$navigation-bar-highlight-color: #F40;
$navigation-bar-pipe-color: #DDD;
